@model Etecsho.Models.ViewModels.EditProfileViewModel
@{
    ViewData["Title"] = "ویرایش کاربران ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<form asp-action="EditProfile" asp-controller="Home" asp-area="User" method="post" enctype="multipart/form-data" >

    <div role="main" class="main position-relative z-index-2 z-index-mobile-0">
        <div class="appear-animation animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
            <div class=" mt-5">
                <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
                    <div class="container">
                        <div class="row">

                            <div class="col-md-12 align-self-center p-static order-2 text-center">

                                <h1 class="text-dark font-weight-bold text-8">حساب کاربری</h1>
                                <span class="sub-title text-dark"></span>


                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>
        <hr class="solid my-5">
        <div class="container mb-5 pb-4">

            <div class="row">

                <input type="hidden" asp-for="AvatarName" />

                <div class="col-lg-9">

                    <div class="overflow-hidden mb-1">
                        <h2 class="font-weight-normal text-7 mb-0 txr"><strong class="font-weight-extra-bold">حساب کاربری</strong> من</h2>
                    </div>
                    <div class="overflow-hidden mb-4 pb-3">
                        <p class="mb-0 txr">به حساب کاربری هوش ایمن خوش اومدید</p>
                    </div>

                    <div class="form-group row">
                        <label class="col-lg-2 font-weight-bold text-dark col-form-label form-control-label text-2"></label>
                        <div class=" col-lg-8 ">
                            <input class="form-control" readonly value="@User.Identity.Name" required="" type="text">
                        </div>
                        <label class="col-lg-2  txr font-weight-bold text-dark col-form-label form-control-label text-2 required">نام</label>

                    </div>

                    <div class="form-group row">
                        <label class="col-lg-2 font-weight-bold text-dark col-form-label form-control-label text-2"></label>
                        <div class="col-lg-8">
                            <input class="form-control" asp-for="Email" required="" type="email">
                        </div>
                        <label class="col-lg-2 txr font-weight-bold text-dark col-form-label form-control-label text-2 required">ایمیل</label>

                    </div>
                    <div class="form-group row">
                        <label class="col-lg-2 font-weight-bold text-dark col-form-label form-control-label text-2"></label>
                        <div class="col-lg-8">
                            <input class="form-control" asp-for="PhoneNumber" type="text">
                        </div>
                        <label class="col-lg-2 txr font-weight-bold text-dark col-form-label form-control-label text-2">شماره تماس</label>

                    </div>



                    <div class="form-group row">
                        <label class="col-lg-2 font-weight-bold text-dark col-form-label form-control-label text-2"></label>
                        <div class="col-lg-8">
                            <input class="form-control" asp-for="UserName" readonly required="" type="text">
                        </div>
                        <label class="col-lg-2 txr font-weight-bold text-dark col-form-label form-control-label text-2 required">نام کاربری</label>

                    </div>

                    <div class="form-group row">
                        <div class="form-group col-lg-9">

                        </div>
                        <div class="form-group col-lg-3">
                            <input type="submit" value="ارسال" class="btn btn-primary btn-modern float-right" data-loading-text="Loading...">
                        </div>
                    </div>

                </div>



                <div class="col-lg-3 mt-4 mt-lg-0">

                    <div class="d-flex justify-content-center mb-4">
                        <div class="profile-image-outer-container">
                            <div class="profile-image-inner-container bg-color-primary">
                                <img src="/UserAvatar/@Model.AvatarName" id="imgAvatar">
                                <span class="profile-image-button bg-color-dark" >
                                    <i class="fas fa-camera text-light"></i>
                                </span>
                            </div>
                            <input type="file" id="UserAvatar" class="profile-image-input" asp-for="UserAvatar" >
                        </div>
                    </div>

                    <aside class="sidebar mt-2" id="sidebar">
                        <ul class="nav nav-list flex-column mb-5">
                            <li class="nav-item"><a class="txr nav-link text-dark active" href="/User/Home/EditProfile">ویرایش اطلاعات کاربری  </a></li>
                            <li class="nav-item"><a class="txr nav-link text-dark active" href="/User/Home/ChangePassword">تغییر کلمه ی عبور   </a></li>
                            <li class="nav-item"><a class="txr nav-link" href="/Logout">خروج</a></li>

                        </ul>
                    </aside>

                </div>










            </div>
        </div>
    </div>
</form>






@section Scripts
{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#UserAvatar").change(function () {
            readURL(this);
        });
    </script>
}