<div class="col-lg-9">

    <div class="overflow-hidden mb-1">
        <h2 class="font-weight-normal text-7 mb-0 txr"><strong class="font-weight-extra-bold">حساب کاربری</strong> من</h2>
    </div>
    <div class="overflow-hidden mb-4 pb-3">
        <p class="mb-0 txr">به حساب کاربری هوش ایمن خوش اومدید</p>
    </div>

    <div class="profile-image-inner-container">
        <img class="gif-profile" src="/Etecsho_Desinge/img/avatars/wel.gif" width="250" height="250">
    </div>


</div>