
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div role="main" class="main position-relative z-index-2 z-index-mobile-0">
    <div class="container">

        <div class="row text-center paddingt-4">
            <div class="col">
                <div class="overflow-hidden mb-3">
                    <h2 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp">

                        <span class="word-rotator-words bg-primary" style="width: 82.1167px;">
                            <b class="is-visible">موفق</b>
                            <b class="is-hidden">با اصالت</b>
                            <b class="is-hidden">پیگیر</b>
                        </span>
                        <span>ای تکشو</span>
                    </h2>
                </div>
            </div>
        </div>

    </div>

    <div class="appear-animation animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
        <div class="home-concept mt-5">
            <div class="container">

                <div class="row mb-2">
                    <div class="col-lg-2 appear-animation animated appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="450">
                        <a href="#" class="btn btn-modern btn-primary mt-1">به ما ملحق شوید</a>
                    </div>
                    <div class="col-lg-10">
                        <div class="overflow-hidden">
                            <p class="lead mb-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="250">
                                مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5 pb-4">
        <hr class="my-5">
        <div class="row">
            <div class="col mb-4">
                <div class="container py-4 my-5">
                    <div class="container py-4">

                        <div class="row align-items-center">
                            <div class="col-md-6 appear-animation animated appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000">
                                <div class="owl-carousel owl-theme nav-inside mb-0 owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 6000, 'loop': true}" style="height: auto;">


                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-990px, 0px, 0px); transition: all 0s ease 0s; width: 2970px;">
                                            <div class="owl-item cloned" style="width: 485px; margin-right: 10px;">
                                                <div>
                                                    <img alt="" class="img-fluid" src="/Etecsho_Desinge/img/generic/generic-corporate-3-2-full.jpg">
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 485px; margin-right: 10px;">
                                                <div>
                                                    <img alt="" class="img-fluid" src="/Etecsho_Desinge/img/generic/generic-corporate-3-3-full.jpg">
                                                </div>
                                            </div><div class="owl-item active" style="width: 485px; margin-right: 10px;">
                                                <div>
                                                    <img alt="" class="img-fluid" src="/Etecsho_Desinge/img/generic/generic-corporate-3-2-full.jpg">
                                                </div>
                                            </div><div class="owl-item" style="width: 485px; margin-right: 10px;">
                                                <div>
                                                    <img alt="" class="img-fluid" src="/Etecsho_Desinge/img/generic/generic-corporate-3-3-full.jpg">
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 485px; margin-right: 10px;">
                                                <div>
                                                    <img alt="" class="img-fluid" src="/Etecsho_Desinge/img/generic/generic-corporate-3-2-full.jpg">
                                                </div>
                                            </div><div class="owl-item cloned" style="width: 485px; margin-right: 10px;">
                                                <div>
                                                    <img alt="" class="img-fluid" src="/Etecsho_Desinge/img/generic/generic-corporate-3-3-full.jpg">
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="overflow-hidden mb-2">
                                    <h2 class="txr text-color-dark font-weight-normal text-5 mb-0 pt-0 mt-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="1200">تاریخچه <strong class="font-weight-extra-bold">ای تکشو</strong></h2>
                                </div>
                                <p class="txj appear-animation animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400"> مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد<a href="#">لورم</a>  و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
                                <p class="txj mb-0 appear-animation animated appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>
        <hr class="my-5">
        <div class="row pb-3">

            <div class="col-md-8 mx-md-auto text-center">

                <h2 class="text-color-dark font-weight-normal text-5 mb-0 pt-2">پیشینه <strong class="font-weight-extra-bold">ای تکشو</strong></h2>
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>

                <section class="timeline" id="timeline">
                    <div class="timeline-body">
                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">1388</h3>
                        </div>

                        <article class="timeline-box left text-left appear-animation animated appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="/Etecsho_Desinge/img/history/history-3.jpg">
                                <h3 class="txr font-weight-bold text-3 mt-3 mb-1">تاسیس شرکت</h3>
                                <p class="txj mb-0 text-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            </div>
                        </article>


                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">1389</h3>
                        </div>

                        <article class="timeline-box right text-left appear-animation animated appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="400">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="/Etecsho_Desinge/img/history/history-2.jpg">
                                <h3 class="txr font-weight-bold text-3 mt-3 mb-1">ثبت برند ای تکشو</h3>
                                <p class="txj mb-0 text-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            </div>
                        </article>

                        <div class="timeline-date">
                            <h3 class="text-primary font-weight-bold">1390</h3>
                        </div>

                        <article class="timeline-box left text-left appear-animation animated appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="600">
                            <div class="timeline-box-arrow"></div>
                            <div class="p-2">
                                <img alt="" class="img-fluid" src="/Etecsho_Desinge/img/history/history-1.jpg">
                                <h3 class="txr font-weight-bold text-3 mt-3 mb-1">سازماندهی </h3>
                                <p class="txj mb-0 text-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            </div>
                        </article>
                    </div>
                </section>

            </div>

        </div>
        <hr class="solid my-5">

        @await Component.InvokeAsync("EmployeesTeamComponent")




    </div>


</div>
