@{
    ViewData["Title"] = "Home Page";
}

<div role="main" class="main position-relative z-index-2 z-index-mobile-0">

    @await Component.InvokeAsync("SldierComponent")

    <div class="container">

        <div class="row text-center paddingt-4">
            <div class="col-md-10 mx-md-auto">
                <h1 class="word-rotator slide font-weight-bold text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorter">
                    <span> در خدمت شماست </span>
                    <span class="word-rotator-words bg-dark">
                        <b class="is-visible">مطمئن</b>
                        <b>همراه</b>
                        <b>با مسئولیت</b>
                    </span>
                    <span>ای تکشو</span>
                </h1>
                <p class="lead appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد
                </p>
            </div>
        </div>

    </div>

    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
        <div class="home-concept mt-5">
            <div class="container">

                <div class="row text-center">
                    <span class="sun"></span>
                    <span class="cloud"></span>
                    <div class="col-lg-2 ml-lg-auto">
                        <div class="process-image">
                            <img src="/Etecsho_Desinge/img/home/home-concept-item-1.png" alt="" />
                            <strong>استراتژی</strong>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="process-image process-image-on-middle">
                            <img src="/Etecsho_Desinge/img/home/home-concept-item-2.png" alt="" />
                            <strong>برنامه ریزی</strong>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="process-image">
                            <img src="/Etecsho_Desinge/img/home/home-concept-item-3.png" alt="" />
                            <strong>پایه گذاری</strong>
                        </div>
                    </div>
                    <div class="col-lg-4 ml-lg-auto">
                        <div class="project-image">
                            <div id="fcSlideshow" class="fc-slideshow">
                                <ul class="fc-slides">
                                    <li><a href="portfolio-single-wide-slider.html"><img class="img-responsive" src="/Etecsho_Desinge/img/projects/project-home-1.png" alt="" /></a></li>
                                    <li><a href="portfolio-single-wide-slider.html"><img class="img-responsive" src="/Etecsho_Desinge/img/projects/project-home-2.png" alt="" /></a></li>
                                    <!-- <li><a href="portfolio-single-wide-slider.html"><img class="img-responsive" src="/Etecsho_Desinge/img/projects/project-home-3.jpg" alt="" /></a></li> -->
                                </ul>
                            </div>
                            <strong class="our-work">نتیجه نهایی</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container mb-5 pb-4">

        <div class="row">
            <div class="col mb-4">
                <hr class="my-5">
            </div>
        </div>

        <div class="row pb-3">
            <div class="container py-4 my-5">
                <div class="row text-center mb-5">
                    <div class="col-md-10 mx-md-auto">
                        <h1 class=" word-rotator-title font-weight-bold text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorter">
                            چرا ای تکشو؟
                        </h1>
                        <p class="lead text-4 font-weight-normal appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center counters counters-lg">
                    <div class="col-md-3 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="500">
                        <div class="counter counter-with-unit counter-unit-on-top">
                            <strong class="text-color-dark font-weight-extra-bold text-13 text-lg-15" data-to="100">0</strong>
                            <strong class="unit text-color-dark font-weight-bold text-5 text-lg-8">%</strong>
                            <label class="font-weight-normal text-3 text-lg-4 px-5 px-lg-4">رضایت مشتریان</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                        <div class="counter counter-with-unit counter-unit-on-top">
                            <strong class="text-color-dark font-weight-extra-bold text-13 text-lg-15" data-to="50">0</strong>
                            <strong class="unit text-color-dark font-weight-bold text-5 text-lg-8">+</strong>
                            <label class="font-weight-normal text-3 text-lg-4 px-5">پروژه های موفق</label>
                        </div>
                    </div>
                    <div class="col-md-3 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
                        <div class="counter counter-with-unit counter-unit-on-top">
                            <strong class="text-color-dark font-weight-extra-bold text-13 text-lg-15" data-to="350">0</strong>
                            <strong class="unit text-color-dark font-weight-bold text-5 text-lg-8">+</strong>
                            <label class="font-weight-normal text-3 text-lg-4 px-5">تعداد مشتریان</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <hr class="solid my-5">
        <div class="row pb-3">
            <div class="container py-4 my-5">
                <div class="featured-boxes featured-boxes-style-3 featured-boxes-flat">
                    <h1 class="txc word-rotator-title font-weight-bold text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorter">
                        دسته بندی های ما در یک نگاه
                    </h1>
                    <div class="row">

                        <div class="col-lg-4 col-sm-6">
                            <div class="featured-box featured-box-primary featured-box-effect-3">
                                <div class="box-content box-content-border-0">
                                    <i class="icon-featured icon-camera"></i>
                                    <h4 class="font-weight-normal text-5 mt-3">اماکن <strong class="font-weight-extra-bold"></strong></h4>
                                    <p class="mb-2 mt-2 text-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="featured-box featured-box-secondary featured-box-effect-3">
                                <div class="box-content box-content-border-0">
                                    <i class=" icon-featured icon-camrecorder icons"></i>
                                    <h4 class="font-weight-normal text-5 mt-3">دوربین های <strong class="font-weight-extra-bold">مداربسته</strong></h4>
                                    <p class="mb-2 mt-2 text-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="featured-box featured-box-tertiary featured-box-effect-3">
                                <div class="box-content box-content-border-0">
                                    <i class="icon-featured far icon-rocket"></i>
                                    <h4 class="font-weight-normal text-5 mt-3"><strong class="font-weight-extra-bold">تجهیزات</strong> شبکه</h4>
                                    <p class="mb-2 mt-2 text-2">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <hr class="solid my-5">

        <div class="row text-center pt-4">
            <div class="col">
                <h2 class="word-rotator slide font-weight-bold text-8 mb-2">
                    <span>مشتریان ما</span>
                    <!-- <span class="word-rotator-words bg-primary">
                        <b class="is-visible">excited</b>
                        <b>happy</b>
                    </span>
                    <span> about Porto Template...</span> -->
                </h2>
                <h4 class="text-primary lead tall text-4 txcim">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</h4>
            </div>
        </div>

        <div class="row text-center mt-5">
            <div class="owl-carousel owl-theme carousel-center-active-item" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 1}, '768': {'items': 5}, '992': {'items': 7}, '1200': {'items': 7}}, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': false}">
                <div>
                    <img class="img-fluid" src="/Etecsho_Desinge/img/logos/logo-1.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="/Etecsho_Desinge/img/logos/logo-2.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="/Etecsho_Desinge/img/logos/logo-3.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="/Etecsho_Desinge/img/logos/logo-4.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="/Etecsho_Desinge/img/logos/logo-5.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="/Etecsho_Desinge/img/logos/logo-6.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="/Etecsho_Desinge/img/logos/logo-4.png" alt="">
                </div>
                <div>
                    <img class="img-fluid" src="/Etecsho_Desinge/img/logos/logo-2.png" alt="">
                </div>
            </div>
        </div>

    </div>

    <section class="section section-custom-map appear-animation" data-appear-animation="fadeInUpShorter">
        <section class="section section-default section-footer">
            <div class="container">
                <div class="row mt-5 appear-animation" data-appear-animation="fadeInUpShorter">
                    <div class="col-lg-6">
                        <div class="recent-posts mb-5">
                            <h2 class="txr font-weight-normal text-6 mb-4"><strong class="font-weight-extra-bold">آخرین</strong> پست ها</h2>
                            <div class="owl-carousel owl-theme dots-title mb-0" data-plugin-options="{'items': 1, 'autoHeight': true, 'autoplay': true, 'autoplayTimeout': 8000}">
                                <div class="row">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                        <article>
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <div class="date">
                                                        <span class="day font-weight-extra-bold">15</span>
                                                        <span class="month text-1">آذر</span>
                                                    </div>
                                                </div>
                                                <div class="col pl-1">
                                                    <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a></h4>
                                                    <p class="pr-4 mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                                                    <a href="/" class="read-more text-color-dark font-weight-semibold text-2">بیشتر.. <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-lg-6">
                                        <article>
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <div class="date">
                                                        <span class="day font-weight-extra-bold">14</span>
                                                        <span class="month text-1">آذر</span>
                                                    </div>
                                                </div>
                                                <div class="col pl-1">
                                                    <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a></h4>
                                                    <p class="pr-4 mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                                                    <a href="/" class="read-more text-color-dark font-weight-semibold text-2">بیشتر <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                        <article>
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <div class="date">
                                                        <span class="day font-weight-extra-bold">13</span>
                                                        <span class="month text-1">دی</span>
                                                    </div>
                                                </div>
                                                <div class="col pl-1">
                                                    <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a></h4>
                                                    <p class="pr-4 mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                                                    <a href="/" class="read-more text-color-dark font-weight-semibold text-2">بیشتر <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-lg-6">
                                        <article>
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <div class="date">
                                                        <span class="day font-weight-extra-bold">12</span>
                                                        <span class="month text-1">دی</span>
                                                    </div>
                                                </div>
                                                <div class="col pl-1">
                                                    <h4 class="text-primary text-4"><a class="d-block" href="blog-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a></h4>
                                                    <p class="pr-4 mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                                                    <a href="/" class="read-more text-color-dark font-weight-semibold text-2">بیشتر<i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                        <article>
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <div class="date">
                                                        <span class="day font-weight-extra-bold">11</span>
                                                        <span class="month text-1">دی</span>
                                                    </div>
                                                </div>
                                                <div class="col pl-1">
                                                    <h4 class="text-primary text-4"><a href="blog-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a></h4>
                                                    <p class="pr-4 mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت.</p>
                                                    <a href="/" class="read-more text-color-dark font-weight-semibold text-2">بیشتر <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-lg-6">
                                        <article>
                                            <div class="row">
                                                <div class="col-auto pr-0">
                                                    <div class="date">
                                                        <span class="day font-weight-extra-bold">10</span>
                                                        <span class="month text-1">آذر</span>
                                                    </div>
                                                </div>
                                                <div class="col pl-1">
                                                    <h4 class="text-primary text-4"><a href="blog-post.html">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</a></h4>
                                                    <p class="pr-4 mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت</p>
                                                    <a href="/" class="read-more text-color-dark font-weight-semibold text-2">بیشتر <i class="fas fa-angle-right position-relative top-1 ml-1"></i></a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2 class=" txr font-weight-normal text-6 mb-4"><strong class="font-weight-extra-bold">مشتریان ما</strong>چه گفتند</h2>
                        <div class="row">
                            <div class="owl-carousel owl-theme dots-title dots-title-pos-2 mb-0" data-plugin-options="{'items': 1, 'autoHeight': true}">
                                <div>
                                    <div class="col">
                                        <div class="testimonial testimonial-primary">
                                            <blockquote>
                                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت </p>
                                            </blockquote>
                                            <div class="testimonial-arrow-down"></div>
                                            <div class="testimonial-author">
                                                <div class="testimonial-author-thumbnail">
                                                    <img src="/Etecsho_Desinge/img/clients/client-1.jpg" class="rounded-circle" alt="">
                                                </div>
                                                <p><strong>آقای محمدپور</strong><span>مدیر ای تکشو</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="col">
                                        <div class="testimonial testimonial-primary">
                                            <blockquote>
                                                <p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت </p>
                                            </blockquote>
                                            <div class="testimonial-arrow-down"></div>
                                            <div class="testimonial-author">
                                                <div class="testimonial-author-thumbnail">
                                                    <img src="/Etecsho_Desinge/img/clients/client-1.jpg" class="rounded-circle" alt="">
                                                </div>
                                                <p><strong>آقای ایوبی</strong><span>مدیر بارمان</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
